.nav-button{

    a{
        background: $primaryColor !important;
        border-radius: 12px;
        color: $white1;
        font-size: #{$font16}rem !important;
        font-weight: 700;
        padding: 1rem 2.5rem !important;
        display: inline-block;
        border: 1px solid $primaryColor;

        &:hover{
            background-color: $white1 !important;
            color: $primaryColor;
            transition: 0.5s ease-in-out;
            border: 1px solid $primaryColor;
        }
    }
  
}