.footer {
  background-color: $primaryColor;
  padding-top: 4rem;
  padding-bottom: 1rem;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include responsiveToUp(lg){
      grid-template-columns: 1fr;
      gap: 2rem;

    }

    .titleWrapper{
      margin-bottom: 0.5rem;
    }
  }

  .logo {
    img {
      margin-bottom: 20px;
    }
  }

  .navbar2 {
    padding-left: 0;
    list-style: none;

    a {
      color: $white1;
      font-size: #{$font16}rem !important;

      &:hover {
        color: $blue4;
        transition: 0.5s ease-in-out;
      }
    }

    li {
      margin-bottom: 0.5rem !important;
    }
  }

  input[type="text" i] {
    background-color: $black2;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }

  input[type="submit" i] {
    background-color: $white1;
    padding: 0.75rem 2rem;
    border-radius: 12px;
    color: $primaryColor;
    margin-left: -10px;

    @include responsiveToUp(md){
      padding: 0.75rem 1rem;
    }
  }

  form {
    display: flex;
  }

  .copyright {
    position: relative;
    padding-top: 2rem;
    opacity: 0.8;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      bottom: 1rem;
      right: 0;
      background-color: white;
      height: 1px;
      width: 35%;

      @include responsiveToUp(lg){
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 15px;
      left: 0;
      background-color: white;
      height: 1px;
      width: 35%;

      @include responsiveToUp(lg){
        content: none;
      }
    }

    .social {
      display: flex;
      gap: 15px;
    }
  }
}
