.header {
  padding: 0.5rem 0 0 0;

  .navbar-nav {
    justify-content: flex-end;
    gap: 2rem;
    width: 80%;

    @include responsiveToUp(lg) {
      gap: 1rem;
      margin-bottom: 0.5rem;
    }

    .nav-link{
        color: $primaryColor;
        font-size: #{$font16}rem !important;
        font-weight: 400;

        &:hover{
            color: $blue1 !important;
            transition: 0.5s ease-in-out;
        }
    }
  }
}
