.heroSectionTop{
 
  .HeroSection {
    .heading {
      text-align: center;

      .titleWrapper{
        margin-bottom: 1.5rem;
      }
    }
    .boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      margin: auto;
      gap: 2rem;
  
      .imageWrapper {
        overflow: hidden;
        border-radius: 1.5rem;
  
        img {
  
          &:hover {
              transform: scale(1.1);
              transition: 0.5s ease-in-out;
          }
        }
      }
    }
  
    .about{
      text-align: center;

      .titleWrapper{
        margin: 1.5rem 0;
      }
    }
  }
}


