.sectionA {
  background-color: $secondaryColor;
  // padding: 6rem 0;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    @include responsiveToUp(xl) {
      gap: 2rem;
    }

    @include responsiveToUp(lg) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    h2{
        @include responsiveToUp(xl){
            font-size: #{$font35}rem !important;
        } 
    }

    .left,
    .right {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
