.section_e{
    background-image: url(../../assets/images/Blur-Gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    .heading{
        text-align: center;
    }

    p{
        margin-bottom: 1rem !important;
    }
    
    .nav-button{
        margin-top: 15px !important;
    }
}