.sectionD {
  .content {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 2rem;

    @include responsiveToUp(lg){
      grid-template-columns: 1fr;
    }

    .left {
      margin-top: 2rem;

      .titleWrapper{
        margin-bottom: 1.5rem;
      }
    }

    .right {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;

      @include responsiveToUp(lg){
        grid-template-columns: 1fr 1fr;
      }
      @include responsiveToUp(md){
        grid-template-columns: 1fr;
      }
    }
  }

  .card {
    border: none;
    border-radius: 0 0 1rem 1rem;
    background-color: $blue2;

    h6{
        line-height: 1.4;
    }

    .img-box{
      overflow: hidden;

      img{
        transition: 0.5s ease-in-out;
  
        &:hover {
          transform: scale(1.05);
     
        }
      }

    }

    .card-body{
        padding: 1.5rem 2rem;
    }
  }
}
